@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

nav {
    width: 90%;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    font-size: 22px;
}
.list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.list li {
    padding: 0 0.5rem;
    border-right: 1px solid #1c1b1b;

}

.list li:last-child {
    border-right: none;
}

img {
    height: 470px;
    width: 470px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem;
}

.first {
    height: 100%;
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem ;
    background-color: #00000012;
}


.first h1 {
    color: black;
    font-size: 57px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.first h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 34px 0 0 0;
}

.first p {
    color: black;
    line-height: 1.6;
    font-size: 1rem;
}