@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

nav {
    width: 90%;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 a {
    font-size: 22px;
}

h1 a {
    color: black;
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.li a {
    color: black;
    text-decoration: none;
}

.list li a:hover {
    color: rgb(96, 146, 96);
}

.list li {
    padding: 0 0.5rem;
    border-right: 1px solid #1c1b1b;
}

.list li:last-child {
    border-right: none;
}

img {
    height: 470px;
    width: 470px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem;
}

.first {
    height: 100%;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
}

.first h1 {
    color: black;
    font-size: 57px;
    font-weight: 650;
    margin-bottom: 1rem;
}

.first h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 34px 0 0 0;
}

.first p {
    color: black;
    line-height: 1.6;
    font-size: 1rem;
}

.btns {
    display: flex;
    padding: 4rem;
    align-items: center;
    gap: 0.5rem;
}

.btns button:first-child {
    margin-left: 550px;
}

.btns button:hover {
    background-color: white;
}

.btn1 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(19 84 84);
    border: 0.5px solid rgb(89 62 3);
    font-size: 22px;
    font-weight: 700;
}

.btn2 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(42 145 146);
    border: 0.5px solid rgb(89 62 3);
    font-size: 22px;
    font-weight: 700;
}

.btn3 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(128 216 218);
    border: 0.5px solid rgb(89 62 3);
    font-size: 22px;
    font-weight: 700;
}

.btn4 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(199 199 199);
    border: 0.5px solid rgb(89 62 3);
    font-size: 22px;
    font-weight: 700;
}

.seperation {
    height: 0.5px;
    background-color: rgba(128, 128, 128, 0.669);
    position: relative;
}

footer {
    padding: 2rem 0 33px 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.value a {
    color: black;
}

.footer-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3rem;
    padding: 30px;
}

.footer-item .label {
    font-weight: 700;
}

.first {
    opacity: -2;
    transform: translateY(270px);
    animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btns button {
  opacity: 0;
  transform: translateY(50px);
  animation: riseUp 0.8s forwards;
}

.btns button:nth-child(1) { animation-delay: 0s; }
.btns button:nth-child(2) { animation-delay: 1s; }
.btns button:nth-child(3) { animation-delay: 2s; }
.btns button:nth-child(4) { animation-delay: 3s; }

@keyframes riseUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @scroll-timeline btnScroll {
  source: auto;
  orientation: block;
} */
